<html lang="ru">
    <head>
        <meta charset="cp1251">
        <title>LABA 2 AIPOZ CCCC</title>
    </head>
    <body>
        <div>
            <form method="POST" action="index.html">
                ruller_firstname
                <input name = "ruller_firstname" id = "ruller_firstname" type = "text" minlength="4" size="15" required>
                <br>
                ruller_patronomic
                <input name = "ruller_patronomic" id = "ruller_patronomic" type = "text" minlength="4" size="15">
                <br>
                ruller_title
                <input name = "ruller_title" id = "ruller_title" type = "text" minlength="4" size="15">
                <br>
                year_of_birth
                <input name = "year_of_birth" id = "year_of_birth" type = "number" min = "0">
                <br>
                year_of_death
                <input name = "year_of_death" id = "year_of_death" type = "number" min = "0">
                <br>
                town_name
                <input name = "town_name" id = "town_name" type = "text" minlength="4" size="15" required>
                <br>
                start_year
                <input name = "start_year" id = "start_year" type = "number" min = "0" required>
                <br>
                end_year
                <input name = "end_year" id = "end_year" type = "number" min = "0" required>
                <br>
                <input type="submit" value = "submit">
            </form>
        </div>
    </body>
</html>